.DS_Store

.coverage
.pytest_cache
htmlcov

build
build/lib
build/lib/cdobatch/*

tests/output

edgar-download/edgar_urls
edgar-download/downloads
edgar-download/nc_files

__pycache__
*.egg-info/
*.egg

*.swp
